html,
body {
  font-family: 'Open Sans';
  line-height: 1.6;
  font-size: 1rem;
}

button {
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.6rem;
}

button:hover {
  text-decoration: underline;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
