.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto 6rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navTitle {
  padding-left: 0.5rem;
}

.div {
  display: flex;
  align-self: center;
}

.nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.li {
  display: flex;
  padding: 0 0.5rem;
  align-self: center;
}
