name: Validate Lint and Test

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install modules
        run: yarn ci-install

      - name: Run lint
        run: yarn ci-lint

      - name: Run test
        run: yarn ci-test

      - name: Run coverage
        uses: mattallty/jest-github-action@v1
